<div class="appointment-container">
    <div class="header">
        <h2>Termini</h2>
        <button (click)="goBack()">Nazad na Dashboard</button>
    </div>
    <h3>Zakazani termini</h3>
    <div class="form">
        <input [(ngModel)]="dateTime" name="dateTime" type="datetime-local" placeholder="Datum i vreme">
        <input [(ngModel)]="reason" name="reason" type="text" placeholder="Razlog posete">
        <select [(ngModel)]="doctorId" name="doctorId">
            <option [value]="0" disabled>Izaberi doktora</option>
            <option *ngFor="let d of doctorList" [value]="d.id">{{ d.firstName }} {{ d.lastName }}</option>
        </select>
        <select [(ngModel)]="patientId" name="patientId">
            <option [value]="0" disabled>Izaberi pacijenta</option>
            <option *ngFor="let p of patientsList" [value]="p.id">{{ p.firstName }} {{ p.lastName }}</option>
        </select>
        <button type="button" (click)="createAppointment()">Zakaži termin</button>
    </div>
    <h3>Lista termina</h3>
    <ul>
        <li *ngFor="let a of appointments">
            {{ a.dateTime | date:'dd.MM.yyyy HH:mm' }} - {{ a.reason }} - {{ a.status }} - Dr. {{ a.doctor?.firstName }}
            {{ a.doctor?.lastName }} - {{ a.patient?.firstName }} {{ a.patient?.lastName }}
        </li>
    </ul>
</div>