<div>
<h2>Doctor Dashboard</h2>
<h2>{{ userName }}</h2>
<button (click)="logout()">Odjavi se</button>
<a routerLink="/appointments">Zakaži/Vidi sve termine</a>
<h3>Moji termini</h3>
<ul>
    <li *ngFor="let a of appointments">
        {{a.dateTime | date:'dd.MM.yyyy HH:mm'}} - {{a.reason}} - {{a.status}} - {{a.patient?.firstName}} {{a.patient?.lastName}}
        <button *ngIf="a.status==='PENDING'" (click)="updateStatus(a.id,'CONFIRMED')">Potvrdi</button>
        <button *ngIf="a.status==='PENDING'" (click)="updateStatus(a.id,'CANCELLED')">Otkazi</button>   
    </li>
</ul>
</div>