<div>
    <h2>Admin Dashboard</h2>
    <button (click)="logout()">Odjavi se</button>
    <a routerLink="/appointments">Termini</a>
    <h3>Lista Doktora</h3>
    <ul>
        <li *ngFor="let doctor of doctors">
            {{doctor.firstName}}{{doctor.lastName}}-{{doctor.specialization}}
        </li>
    </ul>
    <h3>Lista Pacijenata</h3>
    <ul>
        <li *ngFor="let patient of patients">
            {{patient.firstName}}{{patient.lastName}}
        </li>
    </ul>
    <h3>Lista Medicinskih sestara</h3>
    <ul>
        <li *ngFor="let nurse of nurses">
            {{nurse.firstName}}{{nurse.lastName}}
        </li>
    </ul>
</div>