<div class="admin-dashboard">
    <div class="header">
        <h2>Admin Dashboard</h2>
        <button (click)="logout()">Odjavi se</button>
    </div>
    <a routerLink="/appointments">Termini</a>
    <div class="section">
        <h3>Lista Doktora</h3>
        <ul>
            <li *ngFor="let doctor of doctors">
                {{doctor.firstName}} {{doctor.lastName}} -
                {{doctor.specialization}} ({{doctor.user?.email}})
                <button (click)="deleteDoctor(doctor.id)">Obriši</button>
            </li>
        </ul>
        <h4>Dodaj novog doktora</h4>
        <div class="form">
            <input [(ngModel)]="newDoctorEmail" name="newDoctorEmail" placeholder="Email" />
            <input [(ngModel)]="newDoctorPassword" name="newDoctorPassword" type="password" placeholder="Lozinka" />
            <input [(ngModel)]="newDoctorFirstName" name="newDoctorFirstName" placeholder="Ime" />
            <input [(ngModel)]="newDoctorLastName" name="newDoctorLastName" placeholder="Prezime" />
            <input [(ngModel)]="newDoctorSpecialization" name="newDoctorSpecialization" placeholder="Specijalizacija" />
            <button (click)="createDoctor()">Dodaj doktora</button>
        </div>
    </div>
    <div class="section">

        <h3>Lista Pacijenata</h3>
        <ul>
            <li *ngFor="let patient of patients">
                {{patient.firstName}} {{patient.lastName}} ({{patient.user?.email}})
                <button (click)="deletePatient(patient.id)">Obrisi</button>
            </li>
        </ul>
    </div>
    <div class="section">
        <h3>Lista Medicinskih sestara</h3>
        <ul>
            <li *ngFor="let nurse of nurses">
                {{nurse.firstName}} {{nurse.lastName}} ({{nurse.user?.email}})
                <button (click)="deleteNurse(nurse.id)">Obrisi</button>
            </li>
        </ul>
        <h4>Dodaj novu medicinsku sestru</h4>
        <div class="form">
            <input [(ngModel)]="newNurseEmail" name="newNurseEmail" placeholder="Email" />
            <input [(ngModel)]="newNursePassword" name="newNursePassword" type="password" placeholder="Lozinka" />
            <input [(ngModel)]="newNurseFirstName" name="newNurseFirstName" placeholder="Ime" />
            <input [(ngModel)]="newNurseLastName" name="newNurseLastName" placeholder="Prezime" />
            <button (click)="createNurse()">Dodaj medicinsku sestru</button>
        </div>
    </div>
</div>